* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
}

:root {
    --dark-blue: #07012F;
    --bgg: #060125;
    --blue-1: #0f3cc9;
    --bsg-blue: #;
    --d-gray: #ffffff1A;
    --t1:#ffffffbf;
}
.ptb{
    padding: 100px 0px;
}
.ptb-2{
    padding: 28px 0px;
}
.ptb-3{
    padding: 64px 0px;
}
.w-33{
  width: 33.33%;
}

.imgLogo{
  height: 50px;
  width: 120px;
}
a:hover{
 text-decoration: none;
  color:#08dfbc;
  font-weight: bold;
}
#slide-out li a:hover{
  color:#08dfbc;
  font-weight: bold;
}
.divCenter{
  margin: auto;
  width: 50%;
}
.modal-body .form-horizontal{
  width: 100%;
}